modules/WSDL_interface/data/wsdl/pidGenerator.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--
  ~ $Id$
  ~ $Revision$
  ~ $Date$
  ~ $Author$
  ~
  ~ The DOMS project.
  ~ Copyright (C) 2007-2010  The State and University Library
  ~
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://pidgenerator.doms.statsbiblioteket.dk/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://pidgenerator.doms.statsbiblioteket.dk/"
             name="PidGeneratorSoapWebserviceService">
    <types>
        <xsd:schema>
            <xsd:import
                    namespace="http://pidgenerator.doms.statsbiblioteket.dk/"
                    schemaLocation="pidGenerator.xsd"/>
        </xsd:schema>
    </types>

   <!-- <message name="FileNotAvailableException">
        <part name="fault" element="tns:FileNotAvailableException"/>
    </message>-->
    <message name="CommunicationException">
        <part name="fault" element="tns:CommunicationException"/>
    </message>
    <message name="pidGeneratorRequest">
      <!-- <part name="pid" element="tns:pid"/>-->
    </message>
    <message name="pidGeneratorResponse">
        <part name="pidGeneratorReturn" element="tns:pidGeneratorResponse"/>
    </message>
    <message name="pidGeneratorInfixResponse">
        <part name="pidGeneratorInfixReturn" element="tns:pidGeneratorResponse"/>
    </message>
    <message name="pidGeneratorInfixRequest">
        <part name="infix" element="tns:pidGeneratorInfixRequest"/>
    </message>

    <portType name="PidGeneratorSoapWebservice">
        <documentation>Java interface for generating persistent identifiers (PID)
        </documentation>
        <operation name="generatePid">
            <documentation>
                Generate PID
            </documentation>
            <input message="tns:pidGeneratorRequest"/>
            <output message="tns:pidGeneratorResponse"/>
            <!--<fault message="tns:FileNotAvailableException"
                   name="FileNotAvailableException"/>-->
            <fault message="tns:CommunicationException"
                   name="CommunicationException"/>
        </operation>
        <operation name="generatePidWithInfix">
            <documentation>
                Takes a infix string as argument, generates PID
            </documentation>
            <input message="tns:pidGeneratorInfixRequest"/>
            <output message="tns:pidGeneratorInfixResponse"/>
            <!--<fault message="tns:FileNotAvailableException"
                   name="FileNotAvailableException"/>-->
            <fault message="tns:CommunicationException"
                   name="CommunicationException"/>
        </operation>
    </portType>
    <binding name="PidGeneratorSoapWebservicePortBinding"
             type="tns:PidGeneratorSoapWebservice">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                      style="document"/>
        <operation name="generatePid">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
<!--            <fault name="FileNotAvailableException">
                <soap:fault name="FileNotAvailableException" use="literal"/>
            </fault>-->
            <fault name="CommunicationException">
                <soap:fault name="CommunicationException" use="literal"/>
            </fault>
        </operation>
        <operation name="generatePidWithInfix">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
<!--            <fault name="FileNotAvailableException">
                <soap:fault name="FileNotAvailableException" use="literal"/>
            </fault>-->
            <fault name="CommunicationException">
                <soap:fault name="CommunicationException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="PidGeneratorSoapWebserviceService">
        <port name="PidGeneratorSoapWebservicePort"
              binding="tns:PidGeneratorSoapWebservicePortBinding">

            <soap:address
                    location="http://localhost:7910/highlevelbitstorage/highlevel/"/>
        </port>
    </service>
</definitions>